html {
  height: 100%;
}

body {
  font-family: Futura, sans-serif;
  font-size: 36px;
  color: #252528;
  background-color: #eee;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

li {
  margin-bottom: 0.8em;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: #252528;
}


.media {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}

li.pane {
  margin-bottom: 2em;
  background-color: hsl(35, 10%, 97%);
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-bottom: 2em;
  text-align: center;
}

.time-stamp {
  margin-bottom: 1em;  
}

.text-caption {
  font-weight: bold;
  text-transform: uppercase;
}

@media all and (max-width: 414px) {
  body {
    font-size: 12px;
  }
  
  .name {
    font-size: 1em;
  }
  .project {
    max-width: 320px;
  }
}
